@{
    ViewBag.Title = "Add Products";
}

<h2>How to Add Products</h2>

<p>
    Adding products is one of the most important tasks you will perform on your website. So let's start at the beginning.
</p>

<h3>Categories</h3>
<p>
    A category page contains a collection of products and appears beneath the Invnentory drop down menu. In order to add 
    a product to your site you must first chose the category you will add it to. 
</p>

<h4>Adding a Category</h4>
<p>    
    If you want to add a new category page go to the Inventory page and click the Add New Category button. The Menu Name will
     appear as a link in the drop down menu and take visitors to the category page, so keep these short. The Page Title will 
    display on the browser top bar, so you can use more words here. The Description and Key Words fields do not currently do 
    anything, they are there for future search engine optimizations. When ready click Create to be taken to the new category page.
</p>

<h4>Adding a Product</h4>
<p>
    When you're on a category page you will see a button for Add Product. Clicking this brings up a form for creating a new product.
    The fields should be self explanitory, except for Tags. Tags is reserved for future enhancements, and is not currently in use. When 
    ready click the Save button, or add images as described below. 
</p>

<h5>Adding Images</h5>
<p>
    To add images to a product simply select the images from a folder and drop them anywhere on the gray area at the bottom of the page.
    The images will be uploaded and sized for the website. 
</p>

<h5>Sorting Images</h5>
<p>
    You can change the order in which images will appear for the product by simply dragging them to new locations.
</p>

<h5>Deleting Images</h5>
<p>
    When you click on an image it will be given a red border indicating it can be deleted. To delete the image click the Delete button
    or press the Delete key on your keyboard. You can select multiple images by holding down the control key (Ctrl) and clicking images 
    individually, or by holding down the shift key and selecting a range. Any images with the red border will be deleted when you press 
    the Delete button. 
</p>

