@{
    ViewBag.Title = "Creating an Account";
}

<h2>Creating an Account</h2>

<p>
    Once your website has been created and is ready for use you will receive an email with instructions for accessing your website. 
    Within this email will be a link to the registration page on your site. In order to prevent strangers from creating accounts
    the link contains a secret code that grants access only to you. 
</p>
<p>
    The account registration page of your site enables you to enter a user name and password and some additional information. Please
    remember the information you enter as there is no way of retrieving it later. You will need the login information in order to 
    access the features of your website. 
</p>

<p>
    <em>
    Please note that once the link has been used to create an account it will be deactivated so that nobody else can use 
    it to create an account. 
    </em>
</p>