@{
    ViewBag.Title = "How to Modify Content";
}

<h2>How to Modify Content</h2>

<p>
    Your webiste uses inline editing to modify content. This means that you simply click on content to engage the editor and 
    make changes. The home page, about us, and contact pages all have editable content, as well as three columns on the footer. 
    To make changes simply click a content zone and begin typing.
</p>
<p> 
    You can use the tool bar to do things like bold and italics, or
    change the text size. When you're finished making your edits be sure to click the save button in the toolbar.
</p>

<p>
    <img src="@Url.Content("~/Content/Images/ContentZones.png")" />
    <br />
    <strong>Content Zones</strong>
</p>